header {

	background-color:#00FFFF;

}

header:hover {

	background-color:#00FFFF;
	opacity: 0.5;

}

#Banner {

	background-color:#00FFFF;
	color: blue;

}

h2 {

	background-color:rgb(102,255,255);

}

h2:hover {

	background-color:rgb(102,255,255);
	opacity:0.5;

}

body {

	background-color:#CCFFFF;
	
}

div {

	background-color:#00FFFF;

}

div:hover {

	background-color:#00FFFF;
	opacity:0.5;

}

img {

	length: 50px;
	
}

footer {

	background-color:#00FFFF;

}

footer:hover {

	background-color:#00FFFF;
	opacity:0.5;

}
